@tailwind base;

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

* {
  letter-spacing: -.4px;
}

b {
@apply font-medium;
}
.alert-showing {
  @apply overflow-hidden;
}

.slider {
  -webkit-appearance: none;
  @apply w-96 outline-0 my-0 mx-auto rounded-md h-1 block from-theme-600 to-theme-700 bg-gradient-to-tr;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply h-4 w-4 bg-theme-200 rounded-full border border-day-150 dark:border-night-150 border-solid transition-transform
}

.slider::-webkit-slider-thumb:active {
  transform: scale(1.5);
}

@layer components {

  .use-responsive-width {
    width: min(100%, 890px);
    margin: auto;
    padding: 0 20px;
  }
  .responsive-scrollable {
    padding-left: max(calc(50% - 425px), 20px);
    overflow-x: scroll;
  }
  .w-full--1 {
    width: calc(100% - 1px);
  }
  .focus {
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.6);
  }
  .use-warm-theme {
    --theme-100: #FCF7DD;
    --theme-150: #FFF9F2;
    --theme-150-dark: #402e13;
    --theme-200: #EE6417;
    --theme-250: #fcf2e6 ;
    --theme-250-dark: #573d15;
    --theme-300: #E2800C;
    --theme-400: #e48f0f;
    --theme-500: #E77A15;
    --theme-600: #DF7D21;
    --theme-700: #B61D1D;
    --theme-800: #EE6417;
  }
  .use-rose-theme {
    --theme-100: #FCDDEC;
    --theme-150: #fff5fb;
    --theme-150-dark: #3b2b35;
    --theme-200: #e34496;
    --theme-250: #ffebf7;
    --theme-250-dark: #523a49;
    --theme-300: #A03669;
    --theme-400: #BE5E8C;
    --theme-500: #B05883;
    --theme-600: #D94FC3;
    --theme-700: #CC3156;
    --theme-800: #8B1842;
  }
  .use-jade-theme {
    --theme-100: #c7f1d8;
    --theme-150: #edfaee;
    --theme-150-dark: #2b3b32;
    --theme-200: #138b49;
    --theme-250: #dff2e7;
    --theme-250-dark: #3b543f;
    --theme-300: #7fb18e;
    --theme-400: #379e78;
    --theme-500: #15d34e;
    --theme-600: #1c6fb3;
    --theme-700: #179c53;
    --theme-800: #066631;
  }
  .slider {
  }
}
