@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#__next {
  height: 100%;
}
body {
  letter-spacing: -0.02em;
}

.h1 {
  @apply font-semibold text-4xl text-mono-l-600 dark:text-mono-d-600;
}

.h2 {
  @apply font-semibold text-xl text-mono-l-600 dark:text-mono-d-600;
}

.h3 {
  @apply font-semibold text-lg text-mono-l-600 dark:text-mono-d-600;
}

.b {
  @apply text-mono-l-600 dark:text-mono-d-600 font-medium;
}

.p {
  @apply text-mono-l-500 dark:text-mono-d-500;
}

.use-theme-pink {
  --accent-100: #fff2f7;
  --accent-150: #ffe7fc;
  --accent-200: #ffe1ea;
  --accent-250: #ffdbfa;
  --accent-300: #e76fb4;
  --accent-350: #ff45ce;
  --accent-400: #f33bb5;
  --accent-500: #bd220d;
  --accent-600: #571b30;
  --accent-650: #65273a;
  --accent-700: #4a1125;
  --accent-750: #4e1a2a;
  --accent-800: #1c0313;
}

@keyframes grade-change-glow {
  from {
    box-shadow: 0rem 0rem 0.5rem 0.3rem #f5070755;
  }
  to {
    box-shadow: 0rem 0rem 0.5rem 0.3rem #f5070700;
  }
}

.grade-change-glow {
  animation: grade-change-glow 1s ease-in-out infinite alternate;
}

@keyframes notification-glow {
  from {
    box-shadow: 0rem 0rem 2rem #426ac600;
  }
  to {
    box-shadow: 0rem 0rem 2rem #426ac655;
  }
}

.privacy-card-glow {
  box-shadow: 0rem 0rem 2rem #426ac622;
}
.notification-summary .notification-glow {
  animation: notification-glow 1s ease-in-out infinite alternate;
}
